@font-face {
  font-family: "comic";
  src: url("comic.ttf");
}

body {
    background-color: rgb(73, 73, 73);
}
h1 {
    color: rgb(255, 255, 255);
    font-family: "comic";
    font-size: 200%;
}
p {
    color: rgb(173, 173, 173);
    font-family: Helvetica
}